*{
  padding: 0;
  margin: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}

html{
  background-color: #ddc39c;
}
main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}